body{
    margin: 0;
    padding: 0;
    background-color: hsl(225, 100%, 98%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-position:center -200px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Red Hat Display', sans-serif;
}

/* Main container */

.container{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 10px 20px hsl(223, 47%, 23%);
}

.hero img{
    border-radius: 20px 20px 0 0 ;
}

/* Title and description */

h1{
    margin-top: 30px;
    text-align: center;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

p{

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    line-height: 1.5rem;
    color: hsl(224, 23%, 55%);
}

/* Custom Plan */

.plan{
    display:flex ;

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80px;
    border-radius: 20px;
    background-color: hsl(225, 100%, 98%);
}

.plan img{
    margin: 10px;
    width: 60px;
    height: 60px;

}

.plan p{
    text-align: left;
    color: hsl(224, 23%, 55%);
}
.plan p b{
    font-weight: 900 ;
    color: hsl(223, 47%, 23%);
}

.plan a{

    margin-top: 30px;
    margin-right: 20px;
    font-weight: 600;
    color: hsl(245, 75%, 52%);
}
.plan a:hover{
    cursor: pointer;
    color: #766cf1;
    text-decoration: none;
}

/* Payment buttom */

.btn{

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    background-color:hsl(245, 75%, 52%);
    box-shadow: 0 4px 15px hsl(223, 47%, 23%);
    font-weight: 700;
}
.btn p{

    padding: 12px;
    color: white;
}
.btn:hover{
    cursor: pointer;
    background-color: #766cf1;
}

/* Cancel buttom */

.cancel{

    padding: 10px 0 30px;
    font-weight: 700;
}
.cancel:hover{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

/* Mobile */

@media (max-width:500px){
.container{
    
    vertical-align: middle;
    width: 90%;
}
.hero img{
    max-width: 100%;
}
.plan p{
    font-size: .8rem;
}
.plan a{
    font-size: .8rem;
}
}